@model Kanbanana.Controllers.DisplayUserCompaniesModel
@using System.Collections.Generic


<form action="/Company/AddUserToBoard" method="post">
    <fieldset>
        <legend>Select an Employee</legend>
        <p>
            <select name="userId">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@Html.DisplayFor(modelitem => user.UserName)</option>
                }
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>Select a Board</legend>
        <p>
            <select name="boardId">
                @foreach (var board in Model.Boards)
                {
                    <option value="@board.Id">@Html.DisplayFor(modelitem => board.Title)</option>
                }
            </select>
        </p>
    </fieldset>
    <button type="submit">Add User</button>
</form>