

<h1>Register  Employee Page</h1>

<form action="/Company/CreateUser" method="post">
    <p>Employee Email</p>
    <input type="text" name="email" value="" />
    <p>Employee Password</p>
    <input type="text" name="password" value="" />
    <button type="submit">Register</button>
</form>
