

<div class="list-group-horizontal">

    <h1>You are on the Company Index Page</h1>

    <p>
        <a href="/Company/CreateUser">Create an Employee</a>
    </p>
    <p>
        <a href="/Company/AddUserToBoard">Add Employee to Board</a>
    </p>
    <p>
        <a href="/Company/ViewUser">View all Employees</a>
    </p>
</div>

