

<h1>Register  Page</h1>

<form action="/Home/Register" method="post">
    <p>Email</p>
    <input type="text" name="email" value=""/>
    <p>Company</p>
    <input type="text" name="company"/>
    <p>Password</p>
    <input type="text" name="password" value=""/>
    <button type="submit">Register</button>
</form>
