@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@inject IAuthorizationService authorizationService

<h1>Secret Page</h1>

@if ((await authorizationService.AuthorizeAsync(User, "Company")).Succeeded)
{
    <h1>User is a company</h1>
}

@if ((await authorizationService.AuthorizeAsync(User, "Employee")).Succeeded)
{
    <h1>User is an employee</h1>
}

