@using Microsoft.AspNetCore.Authorization;
@using Kanbanana.Models
@inject IAuthorizationService authorizationService
@model ICollection<Board>


@if ((await authorizationService.AuthorizeAsync(User, "Company")).Succeeded)
{
    <h1>User is a Company</h1>
    <a asp-action="Create" asp-route-id="">Create Board</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>